{% extends 'base.html' %}

{% block title %}Edit Cafe{% endblock %}

{% block navigation %}{% include "nav_bar.html" %}{% endblock %}

{% block content %}
<div class="container">
    <br><br><br><br>
    <h1 class="display-6">Edit Cafe: {{cafe.name}}</h1>
    <br>
    <div class="row g-10 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <form action="{{ url_for('edit') }}" method="POST">
            <br>
            <div class="mb-3">
                <label for="name" class="form-label">Cafe Name</label>
                <input type="text" class="form-control" name="name" value="{{cafe.id}}" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="map_url" class="form-label">Cafe Map URL</label>
                <input type="url" class="form-control" name="map_url" value="{{cafe.map_url}}" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="img_url" class="form-label">Cafe Image URL</label>
                <input type="url" class="form-control" name="img_url" value="{{cafe.img_url}}" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Cafe Location</label>
                <input type="text" class="form-control" name="location" value="{{cafe.location}}" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <input type="checkbox" class="form-check-input" name="has_toilet"
                    {% if cafe.has_toilet %} checked {% endif %}
                    style="background-color: #35312b !important; border-color: white;">
                    <label class="form-check-label" for="has_toilets">Cafe has Toilets</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" class="form-check-input" name="has_wifi"
                    {% if cafe.has_wifi %} checked {% endif %}
                    style="background-color: #35312b !important; border-color: white;">
                    <label class="form-check-label" for="has_wifi">Cafe has Wifi</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" class="form-check-input"  name="has_sockets"
                    {% if cafe.has_sockets %} checked {% endif %}
                    style="background-color: #35312b !important; border-color: white;">
                    <label class="form-check-label" for="has_sockets" >Cafe has Sockets</label>
              </div>
                <div class="col-md-3">
                    <input type="checkbox" class="form-check-input" name="can_take_calls"
                    {% if cafe.can_take_calls %} checked {% endif %}
                    style="background-color: #35312b !important; border-color: white;">
                    <label class="form-check-label" for="has_sockets">Can take Calls</label>
                </div>
            </div>
            <br>
            <div class="mb-3">
                <label for="seats" class="form-label">Number of Seats</label>
                <input type="text" class="form-control" name="seats" value="{{cafe.seats}}" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="coffee_price" class="form-label">Price of a cup of Coffee</label>
                <input type="text" class="form-control" name="coffee_price" value="{{cafe.coffee_price}}" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
            </div>
            <br>
            <button class="btn btn-warning" type="submit">Change Details</button>
            <br>
            <br>
        </form>
    </div>
</div>
{% endblock %}